* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

#nameInput {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    border: none;
    color: black;
    width: 400px;
    margin-right: 10px;
}

body {
    font-family: "Kanit", sans-serif;
    background: #5aa1c0;
    color: #333;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.login{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin: 20px 20px;    
    color: white;
    outline: none;
    font-size: xx-large;
}

.login input:focus{
    border-bottom-color: blue;
    transition: 0.7s;
    outline: none;
}

.login p{
    margin-top: 10px;
    color: black;
}

.login p span{
    text-decoration: none;
    color: rgb(3, 3, 143);
    font-weight: bolder;
    font-size: 18px;
    position: relative; 
    transition: 0.3s;
}

.login p span:hover{
    text-decoration: underline solid 3px;
    cursor: pointer;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 20px 20px;
}

.btnStm {
    background-color: #3A47F0;
    padding: 20px;
    font-weight: bold;
    font-size: large;
    font-family: "Kanit", sans-serif;
    margin: 5px;
}   

#btnRegister{
    background-color: #7a82f5;
}

#btnRegister:hover{
    background-color: #bbbef0;
}

#btnChangeName {
    padding: 5px;
    background-color: #0f693c;
    cursor: pointer;
}

#btnChangeName:hover {
    background-color: #80eb68;
    transition: .2s;
}

#imgAvatar {
    height: 33vh;
    width: 35vh;
    border-radius: 90px;
    background-color: transparent;
    padding: 5px;
}

#imgCorazones{
    position: absolute;
}

#dataLabel {
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
}

#tamagotchiSection{
    display: none;
}

.btnStm:hover {
    transition: .2s;
    background-color: #3AA7F0;
    cursor: pointer;
}

.btnStm:disabled:hover{
    background-color: #3A47F0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 100%;
    position: relative;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

#titleIndex{
    padding: 10px;
    font-size: 100px;
}

#titleIndex:hover{
    color: #3A47F0;
    font-size: 103px;
    transition: 0.3s;
    cursor: pointer;
}


.title button {
   padding: 10px;
   width: 5vh;
   height: 5vh;
}


.btnStimuli {
    flex-direction: row;
}

.btnStm {
    margin: 0px 40px;
}

.boxImg img {
    max-width: 100%;
    max-height: 100%; 
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* POPUP MODAL*/

#popupModal{
    width: 80vh;
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(218, 199, 199, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popupModal h1, input{
    font-size: 30px;
    margin: 15px;
}

#popupModal button{
    margin-top: 25px;
}

#popupModal::backdrop{
    background-color: rgba(0,0,0,.65);
}

.btnPopupModal{
    display: flex;
    flex-direction: row;
}

.btnNewTam{
    display: inline;
}

#btnClosePopup{
    background-color: rgb(184, 54, 37);
}

#btnClosePopup:hover{
    background-color: rgb(189, 97, 85);
}

#tamName{
    border: none;
    border-bottom: solid 1px black;
    background-color: transparent;
}

#tamName:focus{
    border-bottom-color: blue;
    transition: 0.7s;
    outline: none;
}

#lblSelectTam{
    width: 200px;
    height: 60px;
    background-color: white;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#lblSelectTam:hover{
    background-image: none;
    cursor: pointer;
    background-color: grey;
}

#imgPopupModal{
        width: 100vh;
        height: 80vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.imgTamAvatar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#imgPopupModal img{
    width: 120px;
    height: 80px;
    transition: 0.3s ease-in-out;
    flex: 1 1 calc(25% - 10px);
    margin: 0;
}

#imgPopupModal img:hover{
   scale: 1.2;
   border-bottom: 1px solid black;
}

#btnCloseImgPopup{
    background-color: rgb(184, 54, 37);
}

#btnCloseImgPopup:hover{
    background-color: rgb(189, 97, 85);
}

.imgTamAvatar img.seleccionada{
    scale: 1.2;
    border-bottom: 1px solid black;
}

.selectImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selectImg img{    
    width: 50px;
    height: 50px;
    background-color: red;
    margin-left: 15px;
}

/* SLIDER */

.boxImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.boxImg input{
    visibility: hidden;
    display: none;
}

.buttons{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;    
    gap: 10px;
}

.buttons label{
    width: 20px;
    height: 20px;
    background-color: rgb(179, 139, 11);
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease-in-out;    
}

.buttons label:hover{
    scale: 1.2;
    opacity: 1;
}

.content div{
    width: 100vw;
    height: 250px;
}

.content img{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 100px;
}

.content img:hover{
   scale: 1.1;
}

.boxImg input:nth-child(1):checked ~ .buttons label:nth-child(1),
.boxImg input:nth-child(2):checked ~ .buttons label:nth-child(2),
.boxImg input:nth-child(3):checked ~ .buttons label:nth-child(3)
{
    opacity: 1;
    scale: 1.2;
    width: 40px;
}

.firstSlide, .secondSlide, .thirdSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    width: 300vw;
    height: 30vw;
    transition: 0.3s ease-in-out;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxImg input:nth-child(1):checked ~ .content{
    left: 100vw;
}
.boxImg input:nth-child(2):checked ~ .content{
    left: 0vw;
}
.boxImg input:nth-child(3):checked ~ .content{
    left: -100vw;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS CLOUDS */

.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;
  
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

/* OBJECTS */

.cloud {
  background: #fff;
  background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
  
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
